

        <ion-input type="text" [value]="positionView" [(ngModel)]="positionView" name="positionView" disabled="disabled" class="pos-view-info posViewVisible postext" ></ion-input>

      <div class="posViewVisible">
         <ion-item class="select=group">
          <!-- <ion-label>Where Am I</ion-label> -->
          <ion-select [(ngModel)]="selectedOption" class="select-choice" [selectOptions]="selectOptions">
            <ion-option value="zm" class="pos-option">zoom level</ion-option>
            <ion-option value="cntr" class="pos-option">map center</ion-option>
            <ion-option checked="true" value="coords" class="pos-option">coordinates</ion-option>
          </ion-select>
        </ion-item>
      </div>
