<ion-grid>
    <ion-row>
        <ion-col>
            <ion-input class="posViewVisible postext" type="text"  [value]="positionView" [(ngModel)]="positionView" name="positionView" disabled="disabled"
                    style="height: 25px;
                        font-size:1.2rem;text-align:right;margin-right: 0.5em; padding: 0.01em 0.5em 0.01em 0.5em; color: blue;">
            </ion-input>
        </ion-col>
        <ion-col>
             <ion-item>
              <ion-select [(ngModel)]="viewOptions" name="viewOptions" style="max-width: 90%">
                <ion-option value="z">zoom level</ion-option>
                <ion-option value="c">map center</ion-option>
                <ion-option value="m">coordinates</ion-option>
              </ion-select>
            </ion-item>
            <!--
             <ion-item style="height: 25px; font-size: 1.2rem; min-height: 25px;">
              <ion-select [(ngModel)]="viewOptions" name="viewOptions" style="height: 25px">
                <ion-option value="z" style="height: 25px">zoom level</ion-option>
                <ion-option value="c" style="height: 25px">map center</ion-option>
                <ion-option value="m" style="height: 25px">mouse coords</ion-option>
              </ion-select>
            </ion-item>
        -->
        </ion-col>
    </ion-row>
</ion-grid>
