
  <div style="padding-left: 1px;" class="col-md-6 col-xs-6">
    <div class="row">
      <div class="posViewVisible col-md-6 col-xs-8">
        <ion-nput type="text" [value="positionView"] [(ng-model)]="positionView" disabled="disabled" 
        style="font-size:0.5rem;text-align:right;margin-right: 0.5em; padding: 0.01em 0.5em 0.01em 0.5em; color: blue;"/>
      </div>
      <div class="posViewVisible col-md-6 col-xs-4">
         <ion-item>
          <ion-label>Position Option</ion-label>
          <ion-select [(ngModel)]="viewOptions">
            <ion-option value="z">zoom level</ion-option>
            <ion-option value="c">map center</ion-option>
            <ion-option value="m">mouse coords</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </div>
