<ion-header>
  <ion-toolbar>
    <ion-title>Sharing Setup</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg social-cards">
    <ion-card id="idMsgSetupCard">
      <ion-card-content>
            <h5 style="font-weight: bold; font-size: 1.8rem;    ">Share Your MapLinkr Session</h5>
                <ion-label style="white-space: normal">Assemble the map configuration to share:</ion-label>
                <button ion-button color="secondary" aria-expanded="false" aria-controls="menu"
                        data-toggle="collapse" data-target="#menu" (click)="fetchUrl()" icon-end>
                    Email from your email account
                    <div class="menu collapse" id="menu">
                        <div class="menu__icon menu__icon--open">
                            <ion-icon name="arrow-down"></ion-icon>
                        </div>
                        <div class="menu__icon menu__icon--close">
                            <ion-icon name="arrow-left"></ion-icon>
                        </div>
                    </div>
                </button><br>
                    <accordion-list  [expanded]="items[0].expanded">
                        <div class="copypastegrid">
                            <ion-item class="url-field">
                                <ion-textarea id="copyTarget" type="text" style="width: 100%; min-height: 8rem;"
                                    value="url to copy" #urlInput [(ngModel)]="urlCopyField">
                                </ion-textarea>
                            </ion-item>
                            <button  id="cpyBtn" class="url-copy-button" (click)="copyUrlField(urlInput)">
                                <img src="assets/imgs/clippy.svg" alt="Copy to clipboard">
                            </button>
                            <ion-item class="url-copy-info">
                                <ion-label style="white-space: normal">
                                    Tap the clipboard button.
                                    Then paste the link into an email, text message, or chat session.
                                </ion-label>
                            </ion-item>
                        </div>
                    </accordion-list>
                <button ion-button color="secondary" (click)="setupMapLinkrMail()" icon-end>
                    Setup MapLinkr Mail
                    <ion-icon name="arrow-down"></ion-icon>
                </button><br>
                    <accordion-list  [expanded]="items[1].expanded">

                        <ion-label>
                            Recipient email address:
                        </ion-label>
                        <ion-input placeholder="email address" [(ngModel)]="recipientAdrs">
                        </ion-input>
                        <ion-label style="white-space: normal">
                            Use the MapLinkr mail system by clicking the send mail button.
                        </ion-label>

                            <button  ion-button color="secondary" class="button-balanced" (click)="sendMail()">Send MapLinkr Mail</button>

                    </accordion-list>
                <button ion-button color="secondary" (click)="setupDirectShare()" icon-end>
                    Share with logged-in users
                    <ion-icon name="arrow-down"></ion-icon>
                </button><br>
                    <accordion-list  [expanded]="items[2].expanded">

                    <div>
                        <ion-label style="white-space: normal">
                            Share with all collaborators currently linked in.
                        </ion-label>
                        <button  ion-button color="default" (click)="shareMap()">Share Map</button>

                    </div>
                    </accordion-list>
        </ion-card-content>
    </ion-card>
            <ion-item>
                <button ion-button color="default" (click)="close()">Cancel</button>
            </ion-item>
  </ion-content>
