msgsetup {

}

.instruction-visibility-hidden {
  visibility: hidden;
}

.instruction-visibility-showing {
  visibility: visible;
}

.clipgrid {
  display : grid;
  grid-template-rows : auto;
  grid-template-columns : auto 4rem;
}
