

        <div class="carouselbox" [style.height]="mapcolheight+'px'"  style="margin: 0.2em;">
            <div class="wrapper">
                <div class="mapheader icon-row">
                    <div class="mapnavwrapper">

                        <div class="navleft">
                            <button class="chevron-prev" *ngIf="showNavButtons==true" (click)="onClickPrev()">
                            </button>
                        </div>
                        <div class="mapnametext" *ngIf="showMapText">{{MapName}}
                        </div>
                        <div class="navright">
                            <button class="chevron-next" (click)="onClickNext()" *ngIf="showNavButtons==true">
                            </button>
                        </div>
                    </div>

                    <div class="wrapper2">
                        <places-for-maplinkr class="searchquery" style="height: 25px"></places-for-maplinkr>
                        <position-view class="posviewwrapper" style="height: 25px"></position-view>
                    </div>

                </div>
                <!-- <ol class="MapContainer" [style.height] = "mapcolheight + 'px'" [style.width] = "'100%'"></ol> -->
                <div class="mapcontent">
                    <!-- <div class="MapContainer"></div> -->
                </div>


            </div>
        </div>
        <!-- <img id="loadingImg" src="../img/loading.gif" style="position:absolute; right:200px; top:256px; z-index:100;" /> -->
