
  <div class="modal-dialog", style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
          <h4>Sharing Setup</h4>
      </div>
      <div class="modal-body">
        <h4>Create a Pusher Channel ID :</h4>
        <input type="text" name="input" [(ng-model)]="data.privateChannelMashover" style="width: 100%">
        <div>channel name : {{data.privateChannelMashover}}</div>
        <h4>Enter a User Name :</h4>
        <input type="text" name="input" [(ng-model)]="data.userName", style="width: 100%">
        <div style="color: #17244D; margin-top: 10px;">USER NAME : {{data.userName}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="accept()">Accept</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
